.deals {
    color: rgb(1, 0, 0); 
    width:100vw; 
    height: 100vh;
    min-width: 100vw;
    background-image: url('/dealsss.png');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    margin: 0;
    padding: 40px; 
    flex-direction: column; 
  
  }