.signup {
    color: rgb(1, 0, 0); 
    width:100vw; 
    min-height: 100vh;  
    min-width: 100vw;
    background-image: url('/dealsss.png');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    margin: 0;
    padding: 40px; 
    flex-direction: column; 
  
  }

.signup-container  {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .highlight {
    color: #FFAE3E;
  }
  .highlight2 {
    color: rgb(6, 6, 130);
  }


  .signup-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

   .verifyaccount{
    display: inline-block;
    margin-top: 1rem;
    background-color:rgb(6, 6, 130);
    padding: 0.75rem 1.5rem;
    color: white;
    border: 1px solid rgb(6, 6, 130);
    border-radius: 5px;
    text-decoration: none;
  }
 .verifyaccount:hover {
    background-color: #FFAE3E;
    color: #fff;
  }

  .login-link {
    color: rgb(6, 6, 130);
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  